/* This is a CSS document */


/* Author: Marina Lazaridou
Subject: Interactive map for BRC's virtual giftshop
File Format: CSS */

/* Start script */

body {
	padding: 0;
	margin: 0;
}

#map {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #baddea;
}

/* Title */
#mapTitle {
	position: fixed;
	z-index: 100;
	top: 10px;
	left: 90px;
	width: 363px;
	height: 35px;
	opacity:0.85;
	background-opacity: 1;
	font-family: Helvetica, Open Sans, Trebuchet MS, Tahome, Franklin Gothic;
	font-size: 34px;
	color: black;
	font-weight: bold;
	font-style: italic;
	text-shadow: 0 0 3px white;
	text-transform: none;
	border-radius: 10px;
}

/* BRC logo */
#logoContainer {
	position: fixed;
	z-index: 100;
	bottom: 5px;
	left: 0px;
	background-image: url("BRC_logo_sm.png");
	width: 70px;
	height: 47px;
	opacity:0.85;
}

/* Labels-popups */
.leaflet-popup-close-button {
		display:none;
}

.leaflet-popup-tip {
	display: none;
}

.leaflet-popup-content-wrapper {
	display: contents;
}

.leaflet-label-overlay {
		line-height:35px;
		margin-top: 9px;
		position: absolute;
}

/* End of script */
